<!doctype html>
    <head>
        <title>Pizza Pi Checkout</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- load fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <!-- load toastr -->

        <link href="/css/default.css" rel="stylesheet" type="text/css">

        <style>
            body {
                padding-top: 80px;
            }

        </style>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

        <script> 
            var orderArray = JSON.parse(Cookies.get("order")); 
            var orderTable = "<table><th>Item</th><th>Price</th>";
            for(order in orderArray){
                orderTable += "<td>";
            }
            orderTable += "</table>";
        </script>
    </body>
</html>