<!-- public/views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Pizza Pi Store</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- load fontawesome -->

    <link href="/css/default.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1></span></span>Find a Restaurant!</h1>

        <form action="" method="POST">
            <label for="street_number" >Street Number</label><input id="street_number" type="text" name="street_number_field">
            <br>
            <label for="street_name">Street Name</label><input id="street_name" type="text" name="street_name_field">
            <br>
            <label for="city_name">City</label><input id="city_name" type="text" name="city_name_field">
            <br>
            <label for="province_name">Province</label><input id="province_name" type="text" name="province_name_field">
            <br>
            <label for="postal_code">Postal Code</label><input id="postal_code" type="text" name="postal_code_field">
            <br>

            <input type="submit" value="Let's Go!">
        </form>

        <br>
        <% if(closestStore) { %>
        <h1>StoreID: <%= closestStore %> </h1>
        <% } %>
        <a href="/menu" class="btn btn-default"><span class="fas fa-utensils"></span> FOOD!</a>
    </div>

</div>
</body>
</html>