<!-- views/test.ejs -->
<!doctype html>
<html>
<head>
    <title>Pizza Pi Store</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }

    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1></span></span>Take a look at the menu</h1>
        <a href="/menu" class="btn btn-default"><span class="fa fa-user"></span>FOOD!</a>
    </div>

</div>
</body>
</html>