<!-- public/views/menu.ejs -->
<!doctype html>
<html>
<head>
    <title>Pizza Pi Menu</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- load fontawesome -->

    <style>
        body {
            padding-top: 80px;
        }

    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1></span></span>Put menu in here</h1>
    </div>

    <div>
            <ul>
                <% for(var key in friendlyMenu) {%>
                    
                <li><%= JSON.stringify(Object.keys(friendlyMenu[key])) %></li>
                    
                <% } %>
                   
            </ul>

        <a href="/checkout" class="btn btn-default"><span class="fas fa-shopping-cart"></span> Checkout</a>
    </div>

</div>
</body>
</html>